/Patient.class
/Bill.class
/City.class
/ConnectToDataBase.class
/Department.class
/Employee.class
/LabWorker.class
/Manage.class
/Medicine.class
/MyFunctions.class
/Office.class
/Patient_Med.class
/Patient_Room.class
/Patient_Test.class
/RegulerRoom.class
/Room.class
/TESTING_THE_PRO.class
/Test.class
/date.class
