/MainFrame.class
/MainFrame$1.class
/MainFrame$2.class
/DashboardComponent.class
/MainFrame$3.class
/NewPatient.class
/NewPatient$1.class
/MainFrame$4.class
/NewPatient$2.class
/NewDoctor$1.class
/NewDoctor$2.class
/NewDoctor.class
/showPatients.class
/ShowTable.class
/ShowTable$1.class
